/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
}
.not-found {
  color: #ffffff;
  font-family: 'Bree Serif';
}
@media (max-width: 767px) and (orientation: portrait) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    height: 100vh;
  }
}
